.div_menu {
  background-color: black;
}
.menu {
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 8px;
  font-size: 21px;
}
.slider1 {
  margin-left: 50px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
